# Ignore VS Code workspace settings
.vscode/

# Ignore Python virtual environments
.venv/
venv/

# Ignore common Python cache and log files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore data files (optional, remove if you want to track data)
# data/
.Rproj.user
